*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{

    width: 100%;
    margin-top: 12%;
    font-family: sans-serif;
    letter-spacing: 1px;

}
.container h2{
     
    background: yellow;
    color: black;
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
    margin-left: 20px;

}
.row{
    margin-top: 30px;
    
}
.product-bottom{
    padding-left: 50px;
}
.product-bottom h3{
    font-size: 20px;
    font-weight: bold;

}
.product-bottom h4{
    font-size: 18px;
    padding-bottom: 10px;    
    font-weight: bold;

}
.product-bottom h4{
    font-size: 15px;
    padding-bottom: 10px;    
}
.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;

}
img{
    margin: auto;
}
img{
    padding: 8%;
}
.product-top:hover .overlay{
    opacity: 1;
    margin-left: 10%;
    transition: 0.6s;
}
.search-box{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: yellow;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
    
}
.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-top: 0PX;
    
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;

}
.search-box:hover > .search-btn{
    background: white;
    
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}


